body{
    background-color: #faa;
    font-size: 24px;
}

main{
    display: block;
    unicode-bidi: isolate;
}

html{
    font-size: 28px;
}
   

.main img{
    display: block;
   width: 280px;
   height: 280px;
   margin-bottom: 0.5rem;
}

.header,
.main,
.left,
.right,
.footer{
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
}

.header{
    font-size: 1.5rem;
}

nav li{
    list-style-type: none;
}

nav li a{
    display: block;
    padding: 0.5rem;
}










































/*.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgb(199, 199, 189);
}

.header{
    grid-column: span 12;
    height:100px;
    background-color: pink;
}

.main{
    grid-column: span 6;
    background-color: rgb(179, 130, 180);
}

.main img{
    float: left;
    margin: 0 1em 1em 0;
}

.left{
    grid-column: span 3;
    background-color: blueviolet;
}

.right {
    position: relative;
    grid-column: span 3;
    background-color: rgb(196, 49, 159);
}

.right a{
    position: absolute;
    top: 0;
    right: 0;
}

.footer{
    grid-column: span 12;
    background-color: red;
}

.footer ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.footer li{
    padding: 0;
    list-style-type: none;
}

















































/*body{
    background-color: rgb(246, 114, 20);
}

h1{
    font-family: "chakra Petch", sans-serif;
    background-color:deepskyblue;
    margin-top: -10px;
    text-align: left;
}

p{
    font-family: "chakra Petch", sans-serif;
    
}

.start-page{

    outline: dotted;
    height:50px;
    width:fit-content;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px; 

}

img{
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    filter: grayscale(30%)
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

#jokeBtn{
    font-size: small;
    width: 120px;
    height: 40px;

    font-weight: bold;
    background-color: darkorange;
    box-shadow: 2px, 4px, 6px, 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#jokeBtn:hover{
    background-color: rgb(50, 142, 50);
    box-shadow: 4px, 8px, 10px, 0px rgba(0, 0, 0, 0.8)
}

#jokeContainer{
    background-color: rgb(50, 142, 50);
    margin-top: 2px;
    padding: 8px;
}

.rating{
    display: flex;
    margin-top: 10px;
}

.star{
    font-size: 24px;
    cursor: pointer;
    color: lightgray;
}
.star:hover, .star.selected{
    color:gold;
}*/